* {
    transition: .5s;
}

html {
    background-size: cover;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-main-color);
    font-family: 'Raleway', sans-serif;
}

input, textarea {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: var(--main-font-color);
}

figcaption {
    color: var(--main-font-color);
    font-size: 14px;
}

h2, h3, h4, h5, h6 {
    font-size: 32px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

ul, ol, li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    color: var(--main-font-color);
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: .1;
}

.narrow {
    max-width: 1440px;
}

.narrow.center {
    margin: 0 auto;
}
