.m-theme-switch {
    display: flex;
    position: relative;
    font-size: 1.375rem;
    border-radius: 0.625rem;
    align-items: center;
    /* Out of rules */
    height: 1.125rem;
    width: 2.25rem;
    margin: 0 auto;
}

.m-theme-switch input {
    opacity: 0;
}

.m-theme-switch input:checked + .slider {
    background-color: var(--button-theme-color);
    box-shadow: 0rem 0.0625rem 0.0625rem rgba(0, 0, 0, .2);
}

.m-theme-switch input:checked + .slider::before {
    transform: translateX(-1.125rem);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-theme-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: '';
    height: 0.875rem;
    width: 0.875rem;
    right: 0.125rem;
    bottom: 0.125rem;
    background-color: hsl(198, 39%, 29%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.is-round {
    border-radius: 2.125rem;
}

.slider.is-round:before {
    border-radius: 2.125rem;
}

.fa-moon,
.fa-sun {
    position: absolute;
}

.fa-sun {
    right: 2.5rem;
    color: var(--disabled-font-color);
}

.fa-moon {
    left: 1.5rem;
    color: var(--button-theme-color);
}

html.light-mode .fa-sun {
    color: var(--button-theme-color);
}

html.light-mode .fa-moon {
    color: var(--disabled-font-color);
}
