:root {
    --primary-bg-color: #0F1119;
    --primary-font-color: white;
    --secondary-font-color: #E6F627;
    --primary-theme-color: #1C1F2D;
    --primary-theme-color-low: #474E71;
    --primary-theme-color-low-low: #242A45;
    --secondary-theme-color: #434CDF;
    --disabled-font-color: #555555;
    --disabled-background-color: #dcdcdc;
}
