.l-footer {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #303030;
    align-items: center;
}

.l-footer p {
    font-size: 0.75rem;
    color: white;
}

.l-footer a {
    text-decoration: underline;
    color: white;
}

footer header {
    order: 1;
}
