.l-aboutme {
    padding: 4rem 0;
    background-color: var(--button-theme-color);
}

.l-aboutme .narrow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.aboutme__text {
    font-size: 16px;
    line-height: 20px;
    width: 70%;
}

.aboutme__image {
    width: 100px;
    border-radius: 50%;
}