#l-header {
    padding: 2rem 0;
}

.mobile-navbar{
    background-color: var(--button-theme-color);
    width: 80%;
}

#l-header .narrow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
}

.header__name::after {
    content: 'Victor.';
    font-size: 20px;
    font-weight: bolder;
}

#btn-mobile {
    display: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-transform: lowercase;
}

.menu__listitem:hover {
    animation: balance .5s infinite;
}

@keyframes balance {
    0%, 100% {
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
}

.menu__listitem:last-child {
    width: 85px;
}

.menu__listitem:last-child:hover {
    animation: none;
    transform: none;
}
