.l-main {
    padding: 4rem 0;
}

.l-main .narrow {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.main__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    flex-shrink: 1;
}

.main__title {
    font-size: 20px;
    font-weight: 600;
}

.main__name {
    font-size: 60px;
    font-weight: 900;
}

.main__sub {
    font-size: 18px;
    line-height: 26px;
    font-weight: 100;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.main__list {
    display: flex;
    gap: 2rem;
}

.main__list___item {
    font-size: 16px;
}

.main__list___item:hover {
    transform: translateY(5px);
}

.fa-solid {
    margin-left: 1rem;
}

.main__image {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-shrink: 2;
}

.main__image___image {
    width: 100%;
    border-radius: 50%;
    background-color: var(--theme-color-photo);
}