.l-projects {
    padding: 5rem 0;
    background-color: var(--button-theme-color);
}

.l-projects .narrow {
    display: flex;
    flex-direction: column;
}

.projects__title {
    margin-bottom: 2rem;
}

.projects__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects__list {
    display: flex;
    /* justify-content: space-between; */
    gap: 2.5rem;
}

.projects__list:nth-child(2n) .projects__image p{
    order: -1;
}

.projects__list:nth-child(2n) .projects__text {
    order: -1;
    align-items: flex-end;
}

.projects__list:nth-child(2n) .projects__links {
    justify-content: flex-end;
}

.projects__image {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-shrink: 2;
}

.projects__image___image {
    max-width: 80%;
    border: dashed 2px white;
    padding: 5px;
    filter: blur(2px);
    cursor: pointer;
}

.projects__image___image:hover{
    filter: none;
}

.projects__image p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: none;
}

.projects__text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-start;
}

.projects__sub {
    line-height: 1.5;
}

.projects__links {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.projects__button {
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 2px var(--button-theme-font-color);
    justify-content: center;
}

.projects__button:hover {
    transform: translateY(2px);
}

.projects__button i {
    margin-right: .5rem;
}