.l-skills {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__title {
    margin-bottom: 2rem;
}

.skills__container {
    display: grid;
    grid-template-areas:
        "container-imagem"
        "container-text";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-gap: .5rem;
    justify-content: center;
}

.skills__container___item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #E6E6E6;
    height: 174px;
    padding: 20px;
    gap: 10px;
    cursor: pointer;
    filter: drop-shadow(0 0 1px rgba(0,0,0,.5));
}

.skills__container___item:hover {
    transform: translateY(-15px);
}

.skills__container___text {
    grid-area: container-text;
    color: #18192B;
    font-weight: 700;
    text-transform: lowercase;
    word-wrap: break-word;
}

.skills__container___image {
    grid-area: container-image;
    width: 37px;
}
